services:
  mysql:
    image: mysql:8.0
    container_name: vinstagram-mysql
    environment:
      MYSQL_DATABASE: vinstagram
      MYSQL_USER: vinstagram
      MYSQL_PASSWORD: vinstagram
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    command: --default-authentication-plugin=mysql_native_password
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
