name: Build and deploy JAR app to Azure Web App - VistagramBackend
 
on:
  push:
    branches:
      - main
  workflow_dispatch:
 
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
 
    steps:
      - uses: actions/checkout@v4
 
      - name: Set up Java 21
        uses: actions/setup-java@v4
        with:
          java-version: "21"
          distribution: "microsoft"
 
      - name: Make gradlew executable
        run: chmod +x ./gradlew
 
      - name: Build with Gradle
        run: ./gradlew clean build -x test
 
      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: java-app
          path: build/libs/*.jar
 
  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read
 
    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: java-app
 
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_7A163BA2BA0345E28ACDE83EDCD812CE }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_93AA80A144F046149EEDEB170185411B }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_60C2CF826FAE4A7EB75893C54CDB205F }}
 
      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: "VistagramBackend"
          slot-name: "Production"
          package: "*.jar"
