# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy

# More GitHub Actions for Azure: https://github.com/Azure/actions
 
name: Build and deploy Spring Boot (Gradle) to Azure Web App - VistagramBackend
 
on:

  push:

    branches:

      - main

  workflow_dispatch:
 
jobs:

  build:

    runs-on: ubuntu-latest

    permissions:

      contents: read
 
    steps:

      - name: Checkout Repository

        uses: actions/checkout@v4
 
      - name: Set up Java 21

        uses: actions/setup-java@v4

        with:

          java-version: '21'

          distribution: 'microsoft'
 
      - name: Make Gradle wrapper executable

        run: chmod +x gradlew
 
      - name: Build with Gradle

        run: ./gradlew bootJar
 
      - name: Upload JAR for deployment

        uses: actions/upload-artifact@v4

        with:

          name: java-app

          path: build/libs/*-SNAPSHOT.jar
 
  deploy:

    runs-on: ubuntu-latest

    needs: build

    permissions:

      id-token: write

      contents: read
 
    steps:

      - name: Download artifact from build job

        uses: actions/download-artifact@v4

        with:

          name: java-app
 
      - name: Login to Azure

        uses: azure/login@v2

        with:

          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_7A163BA2BA0345E28ACDE83EDCD812CE }}

          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_93AA80A144F046149EEDEB170185411B }}

          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_60C2CF826FAE4A7EB75893C54CDB205F }}
 
      - name: Deploy to Azure Web App

        uses: azure/webapps-deploy@v3

        with:

          app-name: "VistagramBackend"

          slot-name: "Production"

          package: "*-SNAPSHOT.jar"

GitHub - Azure/webapps-deploy: Enable GitHub developers to deploy to Azure WebApps using GitHub Actions
Enable GitHub developers to deploy to Azure WebApps using GitHub Actions - Azure/webapps-deploy
 
